<!DOCTYPE html>
<html>
  <head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
hr{
  color:white;
}
button{

  color:black;
  background-color:white;
}
label
{
  color:white;
}

h2
{
  color:white;
}

body{
background-color:black;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}

</style>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div align = "center">
<section class="login-block">
    <div class="container">
	<div class="col-md-6 login-sec"style="margin-bottom:150px"></div>
		<div class="col-md-6 login-sec">
		    <h2 class="text-center">RENTERS & RATINGS</h2>
        <hr>
	   </section>
  </body>
</html>

